div.html-editor canvas[data-object-type=html-viewport]:focus {
	outline: none;
}

div.html-editor,
div.html-editor > div.toolbar,
div.html-editor > div.body,
div.html-editor > div.statusbar {
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

div.html-editor {
	display: block;
	padding: 0 !important;
	margin : 0;
	background-color: white;
	border: 1px inset #666;
}

div.html-editor > div.resizer {
	position: relative;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: -15px;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAKIAAP///+Dg4bi0o7i1obi0oQAAAAAAAAAAACH5BAEAAAAALAAAAAAQABAAAAMmCLrc/jDKKQWhSoyAQeBddQFWtZFn9Clr2JTkCDMaV6Mg0+55lwAAOw==);
	cursor: se-resize;
	display: none;
}

div.html-editor.is-resizable > div.resizer {
	display: block;
}

div.html-editor > div.toolbar {
	display: block;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	display: none;
	background-color: #ddd;
	height: 46px;

	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.html-editor.has-toolbar > div.toolbar {
	display: block;
	z-index: 2;
	position: relative;
}

div.html-editor > div.body {
	display: block;
	background-color: white;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	display: block;
	background-color: #ddd;

	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

div.html-editor > div.body > canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
}

div.html-editor > div.statusbar {
	display: block;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	height: 20px;
	display: none;
	background-color: #ddd;
	height: 20px;

	font-size: 12px;
	font-family: Arial;
	color: #333;

	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	border: 1px inset #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

div.html-editor > div.statusbar > a {
	display: inline-block;
	padding-top: 4px;
	margin-right: 5px;
	text-decoration: none;
	color: black;
}

div.html-editor > div.statusbar > a:not(:last-child):after {
	display: inline-block;
	content: '\00bb';
	color: #333;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

div.html-editor.has-statusbar > div.statusbar {
	display: block;

}

/* Toolbars styling */
div.html-editor > div.toolbar div.ui-panel {
	display: inline-block;
	height: 18px;
	padding: 1px 1px 1px 0px;
	margin: 0px 2px 0px 0px;
	vertical-align: top;
}

div.html-editor > div.toolbar div.ui-panel > div.more {
	display: none;
	width: 9px;
	height: 19px;
	position: relative;
	background-color: #bcbcbc;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0px -99px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: transparent;
}

div.html-editor > div.toolbar div.ui-panel > div.more > div.panel {
	display: none;
	position: absolute;
	right: -1px;
	padding: 5px;
	background-color: #ddd;
	top: 19px;
	border: 1px outset #666;
	border-top: none;
}

div.html-editor > div.toolbar div.ui-panel > div.more > div.panel.right-aligned {
	right: auto;
	left: -1px;
}

div.html-editor > div.toolbar div.ui-panel > div.more.opened,
div.html-editor > div.toolbar div.ui-panel:hover > div.more {
	border-color: #333;
}

div.html-editor > div.toolbar div.ui-panel > div.more.opened > div.panel,
div.html-editor > div.toolbar div.ui-panel:hover > div.more > div.panel {
	display: block;
	z-index: 100;
}

div.html-editor > div.toolbar div.ui-panel.resized-panel > div.more {
	display: inline-block;
}

div.html-editor > div.toolbar > div.toolbar-row {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
	height: 21px;
	border-top: 1px solid white;
	border-bottom: 1px solid #666;
	white-space: nowrap;
}

div.html-editor > div.toolbar div.ui-panel > div.item {
	display: inline-block;
	margin: 0px;
	height: 20px;
	vertical-align: top;
	border-left: 1px solid white;
	border-right: 1px solid #666;
}

div.html-editor > div.toolbar *:focus {
	outline: none;
}

div.html-editor > div.toolbar div.ui-panel input[type=text] {
	padding: 0;
	width: 20px;
	margin: 0;
	border: none;
	height: 16px;
	vertical-align: top;
	font-size: 12px;
	font-family: Arial;
}

div.html-editor > div.toolbar div.ui-panel div.ui-button {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	border: 1px solid transparent;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-button.state-disabled {
	background-image: url(icons-disabled.png);
	background-color: #666;
	border-color: #666;
	border-style: solid;
	outline: 1px solid #666;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown {
	display: inline-block;
	position: relative;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown > .overlay {
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	background-color: white;
	outline: 1px solid black;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 110px;
	z-index: 100;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown.focused > .overlay {
	display: block;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown > .overlay > .option {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown > .overlay > .option.hidden {
	display: none;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown > .overlay > .option:hover,
div.html-editor > div.toolbar div.ui-panel div.text-dropdown > .overlay > .option.on {
	background-color: blue;
	color: white;
}

div.html-editor > div.toolbar div.ui-panel div.text-dropdown > div.expander {
	display: inline-block;
	width: 10px;
	height: 14px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0px -101px;
	background-color: #ddd;
	border: 1px solid transparent;
}


div.html-editor > div.toolbar div.ui-panel div.ui-color-button {
	padding-right: 30px;
	position: relative;
	background-image: none !important;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.icon {
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	background-image: url(icons.png);
	background-repeat: no-repeat;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.color {
	display: block;
	margin-left: 20px;
	width: 11px;
	height: 12px;
	position: absolute;
	top: 2px;
	left: 0px;
	border: 1px solid transparent;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.color.none {
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: -65px -103px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button.state-disabled > div.color.none {
	background-image: url(icons-disabled.png);
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.overlay > div.c.none {
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: -63px -102px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.overlay {
	position: absolute;
	z-index: 100;
	background-color: #ddd;
	width: 165px;
	padding: 2px;
	line-height: 10px;
	display: none;
	white-space: normal;
	right: 0px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.overlay > div.c {
	display: inline-block;
	width: 15px; height: 15px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button > div.expander {
	display: block;
	width: 10px;
	height: 14px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0px -101px;
	background-color: #ddd;
	border: 1px solid transparent;
	position: absolute;
	top: 1px;
	left: 35px;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button.state-disabled > div.expander {
	background-image: url(icons-disabled.png);
	background-color: transparent;
}

div.html-editor > div.toolbar div.ui-panel div.ui-color-button.state-disabled > div.icon {
	background-image: url(icons-disabled.png);
}

div.html-editor > div.toolbar div.ui-panel div.ui-button:not(.state-disabled):hover,
div.html-editor > div.toolbar div.ui-panel div.ui-button:not(.state-disabled) div.expander:hover,
div.html-editor > div.toolbar div.ui-panel div.ui-color-button:not(.state-disabled):hover > div.color {
	border: 1px outset #ddd !important;
}


div.html-editor > div.toolbar div.ui-panel div.ui-color-button:not(.state-disabled):active > div.color {
	border: 1px inset #ddd;
}

div.html-editor > div.toolbar div.ui-panel div.ui-button:not(.state-disabled):active,
div.html-editor > div.toolbar div.ui-panel div.ui-button:not(.state-disabled) div.expander:active {
	background-color: #bbb !important;
	border: 1px inset #ddd;
}

div.html-editor > div.toolbar div.ui-panel div.ui-button.state-mixed {
	background-color: #c3c3c3;
}

div.html-editor > div.toolbar div.ui-panel div.ui-button.state-pressed,
div.html-editor > div.toolbar div.ui-panel div.expander.state-pressed {
	background-color: #efefef;
	border: 1px inset #ddd;
}


div.html-editor > div.toolbar div.ui-panel div.text-dropdown {
	padding: 0px 0px 0px 2px;
	background-color: white;
	border: 1px inset #ddd;
	height: 16px;
}

div.html-editor > div.toolbar div.ui-panel input.nodeName {
	width: 42px;
}

div.html-editor > div.toolbar div.ui-panel input.fontFamily {
	width: 100px;
}

div.html-editor > div.toolbar div.ui-panel input.fontSize {
	width: 25px;
}

div.html-editor .ui-panel-style .ui-button.remove-formatting {
	background-position: -1px -119px !important;
}

div.html-editor .ui-panel-style .ui-button.bold {
	background-position: -1px -81px !important;
}

div.html-editor .ui-panel-style .ui-button.italic {
	background-position: -21px -81px !important;
}

div.html-editor .ui-panel-style .ui-button.underline {
	background-position: -41px -81px !important;
}

div.html-editor .ui-panel-style .ui-button.strike {
	background-position: -21px -121px !important;
}

div.html-editor .ui-panel-style .ui-button.subscript {
	background-position: -21px -101px !important;
}

div.html-editor .ui-panel-style .ui-button.superscript {
	background-position: -41px -101px !important;
}

div.html-editor .ui-panel-style .ui-button.left {
	background-position: -1px -61px !important;
}

div.html-editor .ui-panel-style .ui-button.center {
	background-position: -41px -61px !important;
}

div.html-editor .ui-panel-style .ui-button.right {
	background-position: -21px -61px !important;
}

div.html-editor .ui-panel-style .ui-button.justified {
	background-position: -61px -61px !important;
}

div.html-editor .ui-panel-style .ui-button.ol {
	background-position: -1px -41px !important;
}

div.html-editor .ui-panel-style .ui-button.ul {
	background-position: -21px -41px !important;
}

div.html-editor .ui-panel-style .ui-button.increase {
	background-position: -61px -41px !important;
}

div.html-editor .ui-panel-style .ui-button.decrease {
	background-position: -41px -41px !important;
}

div.html-editor .ui-panel-style .ui-button.color > .icon {
	background-position: -21px -21px !important;
}

div.html-editor .ui-panel-multimedia .ui-button.link {
	background-position: -62px -21px !important;
}

div.html-editor .ui-panel-multimedia .ui-button.picture {
	background-position: -61px -1px !important;
}

div.html-editor .ui-panel-multimedia .ui-button.video {
	background-position: -41px -1px !important;
}

div.html-editor .ui-panel-table .ui-button.table {
	background-position: -41px -21px !important;
	position: relative;
}

div.html-editor .ui-panel-table .ui-button.table > .overlay {
	display: none;
	white-space: normal;
}

div.html-editor .ui-panel-table .ui-button.table > .overlay > .status {
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	height: 16px;
	display: block;
	clear: both;
	cursor: default;
	padding-top: 8px;
}

div.html-editor .ui-panel-table .ui-button.table > .overlay > .cell {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid black;
	float: left;

}

div.html-editor .ui-panel-table .ui-button.table > .overlay > .cell.on {
	background-color: blue;
}

div.html-editor .ui-panel-table .ui-button.table:not(.state-disabled).state-expanded > .overlay {
	display: block;
	position: absolute;
	left: 0px;
	top: 19px;
	background-color: white;
	outline: 1px solid black;
	padding: 2px;
	z-index: 100;
	width: 180px;
}


div.html-editor .ui-panel-table .ui-button.borderColor > .icon {
	background-position: -61px -81px !important;
}

div.html-editor .ui-panel-table .ui-button.backgroundColor > .icon {
	background-position: -1px -21px !important;
}

div.html-editor .ui-panel-table .ui-button.table-insert-r-before {
	background-position: -21px -161px !important;
}
div.html-editor .ui-panel-table .ui-button.table-insert-r-after {
	background-position: 0px -161px !important;
}
div.html-editor .ui-panel-table .ui-button.table-delete-r {
	background-position: 0px -181px !important;
}
div.html-editor .ui-panel-table .ui-button.table-insert-c-before {
	background-position: -61px -161px !important;
}
div.html-editor .ui-panel-table .ui-button.table-insert-c-after {
	background-position: -41px -161px !important;
}
div.html-editor .ui-panel-table .ui-button.table-delete-c {
	background-position: -21px -181px !important;
}


/* UI_Dialog */

div.ui-dialog,
div.ui-dialog * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.ui-dialog {

	top: 0px;
	left: 0px;

	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	background-color: #ddd;
	outline: 1px outset #bbb;

	z-index: 3000;
}

div.ui-dialog > div.resizer {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	z-index: 2;
}

div.ui-dialog > div.resizer > div.titlebar {
	background: #02027a; /* Old browsers */
	background: -moz-linear-gradient(left,  #02027a 0%, #0d87cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#02027a), color-stop(100%,#0d87cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #02027a 0%,#0d87cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #02027a 0%,#0d87cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #02027a 0%,#0d87cf 100%); /* IE10+ */
	background: linear-gradient(to right,  #02027a 0%,#0d87cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02027a', endColorstr='#0d87cf',GradientType=1 ); /* IE6-9 */


	display: block;
	margin: 2px;
	padding: 2px;
	position: relative;
	height: 20px;
	overflow: hidden;
}

div.ui-dialog > div.resizer > div.titlebar > div.caption {
	position: absolute;
	left: 2px;
	top: 2px;
	padding-top: 4px;
	bottom: 2px;
	right: 2px;
	font-family: Arial;
	white-space: no-wrap;
	cursor: default;
	color: white;
	text-overflow: ellipsis;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons > div {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #bbb;
	margin: 2px;
	border: 2px outset #bbb;
	background-image: url(icons.png);
	background-repeat: no-repeat;
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons > div.state-disabled {
	background-image: url(icons-disabled.png);
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons > div:active {
	border: 2px inset #bbb;
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons > div.close {
	background-position: -42px -122px;
}

div.ui-dialog > div.resizer > div.titlebar > div.buttons > div.close:active {
	background-position: -41px -121px;
}


div.ui-dialog > div.resizer > div.titlebar.closable > div.caption {
	right: 27px;
}

div.ui-dialog > div.resizer > div.body {
	background-color: #ddd;
	position: relative;
	margin: 2px;
}

div.ui-dialog > div.resizer > div.handle {
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	z-index: 100;
}

div.ui-dialog > div.resizer > div.handle.n {
	left: 4px;
	top: -2px;
	right: 4px;
	height: 2px;
	cursor: n-resize;
}

div.ui-dialog > div.resizer > div.handle.s {
	left: 4px;
	right: 4px;
	bottom: -2px;
	height: 2px;
	cursor: s-resize;
}

div.ui-dialog > div.resizer > div.handle.w {
	left: 0px;
	top: 2px;
	bottom: 2px;
	width: 2px;
	cursor: w-resize;
}

div.ui-dialog > div.resizer > div.handle.e {
	top: 2px;
	right: 0px;
	bottom: 2px;
	width: 2px;
	cursor: e-resize;
}

div.ui-dialog > div.resizer > div.handle.nw {
	left: 0px;
	top: -2px;
	width: 4px;
	height: 4px;
	cursor: nw-resize;
}

div.ui-dialog > div.resizer > div.handle.ne {
	top: -2px;
	right: 0px;
	width: 4px;
	height: 4px;
	cursor: ne-resize;
}

div.ui-dialog > div.resizer > div.handle.sw {
	left: 0px;
	bottom: -2px;
	width: 4px;
	height: 4px;
	cursor: sw-resize;
}

div.ui-dialog > div.resizer > div.handle.se {
	right: 0px;
	bottom: -2px;
	width: 4px;
	height: 4px;
	cursor: se-resize;
}

div.ui-dialog > div.resizer > div.buttons-footer {
	display: none;
	height: 28px;
	padding: 10px;
	background-color: white;
	border-top: 2px solid #ddd;
	margin: -2px 2px 0px 2px;
	white-space: nowrap;
	overflow: hidden;
}

div.ui-dialog > div.resizer > div.buttons-footer > button {
	height: 28px;
	margin-right: 10px;
	padding: 0 10px;
}

div.ui-dialog > div.resizer > div.buttons-footer > button.default {
	font-weight: bold;
}

div.ui-dialog.footer-buttons > div.resizer > div.buttons-footer {
	display: block;
}

div.ui-dialog > div.modal {
	display: none;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1;
}

div.ui-dialog.modal > div.modal {
	display: block;
}

html, body {
	height: 100%;
}

div.ui-dialog div.body > div.dialog-body {
	display: block;
	padding: 10px;
	font-family: Arial;
	font-size: 14px;
}

div.ui-dialog div.dialog-body > fieldset {
	border-width: 1px;
	border-color: black;
	margin: 5px 0px;
}

div.ui-dialog div.dialog-body > fieldset * {
	margin: 0;
	padding: 0;
}

div.ui-dialog div.dialog-body label.one-line {
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.ui-dialog div.dialog-body label.two-lines {
	height: 36px;
	overflow: hidden;
}

div.ui-dialog div.dialog-body  label {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: default;
	outline: 1px dashed #ddd;
}

div.ui-dialog div.dialog-body  label > span {
	order: 1;
	width: 150px;
	padding-right: 5px;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.ui-dialog div.dialog-body  label > input,
div.ui-dialog div.dialog-body  label > select {
	order: 2;
	width: 100%;
}

div.ui-dialog div.dialog-body label > button.browse {
	order: 3;
	width: 30px;
}

div.ui-dialog div.dialog-body label.checkbox > span {
	order: 2;
	width: 100%;
	vertical-align: middle;
}

div.ui-dialog div.dialog-body label.checkbox > input[type=checkbox] {
	order: 1;
	width: 20px;
	vertical-align: middle;
}

div.ui-dialog div.dialog-body div.horizontal-flex {
	display: flex;
	width: 100%;
}

div.ui-dialog div.dialog-body div.horizontal-flex > div {
	margin: 0px 10px;
}

div.ui-dialog div.dialog-body div.horizontal-flex.two-kids > div {
	width: 50%;
}

div.ui-dialog div.dialog-body div.horizontal-flex.one-kid > div {
	width: 100%;
}

div.ui-dialog .htmleditor-fs {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

div.ui-dialog .htmleditor-fs > div.toolbar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 30px;
	border-bottom: 1px solid #666;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.location {
	position: absolute;
	left: 5px;
	right: 160px;
	height: 30px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.location > label {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial;
	vertical-align: middle;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.location > label > span {
	display: inline-block;
	width: 90px;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	padding-top: 6px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.location > label > input[type=text] {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 3px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons {
	border-left: 1px groove #ddd;
	position: absolute;
	right: 5px;
	width: 140px;
	height: 30px;
	white-space: nowrap;
	padding: 0px 0px 0px 5px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 4px 0px;
	border: 1px solid transparent;
	background-image: url(icons.png);
	background-repeat: no-repeat;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button:hover {
	border: 1px outset #ddd;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button.up {
	background-position: 0px -140px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button.refresh {
	background-position: -21px -140px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button.asc {
	background-position: -41px -140px;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button.desc {
	background-position: -61px -140px;
}


div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button:active {
	border: 1px inset #ddd;
}

div.ui-dialog .htmleditor-fs > div.toolbar > div.buttons > div.button.pressed {
	border: 1px inset #ddd;
	background-color: #bbb;
}

div.ui-dialog .htmleditor-fs > div.files {
	border-top: 1px solid white;
	position: absolute;
	left: 0px;
	top: 31px;
	right: 0px;
	bottom: 0px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

div.ui-dialog .htmleditor-fs > div.files > span.loading,
div.ui-dialog .htmleditor-fs > div.files > span.empty {
	text-align: center;
	display: block;
	margin: 10px auto;
	font-family: Arial;
	font-size: 12px;
	color: #666;
}

div.ui-dialog .htmleditor-fs > div.files > span.error {
	text-align: center;
	display: block;
	margin: 10px auto;
	font-family: Arial;
	font-size: 12px;
	color: red;
}


div.ui-dialog .htmleditor-fs > div.files > div.fs {
	display: inline-block;
	width: 128px;
	height: 32px;
	margin: 10px;
	font-size: 12px;
	font-family: Arial;
	vertical-align: top;
	position: relative;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime {
	width: 32px;
	height: 32px;
	background-image: url(mime.png);
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > label {
	font-size: 12px;
	text-align: left;
	display: inline-block;
	right: 0px;
	height: 14px;
	position: absolute;
	left: 37px;
	top: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs.focused > label {
	height: auto;
	background-color: blue;
	color: white;
	white-space: normal;
	right: auto;
	max-width: 88;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime.folder {
	background-position: 0px 0px;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime.picture {
	background-position: -64px 0px;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime.video {
	background-position: -96px 0px;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime.audio {
	background-position: -128px 0px;
}

div.ui-dialog .htmleditor-fs > div.files > div.fs > div.icon.mime.unknown {
	background-position: -32px 0px;
}